<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Продукты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
                <h2 class="text-center mb-5">Новый клиент</h2>
                <form method="post" enctype="multipart/form-data" th:object="${clientDto}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Имя</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="${clientDto.firstName}">
                            <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="text-danger"
                                th:errors="${clientDto.firstName}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Фамилия</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="${clientDto.lastName}"/>
                            <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="text-danger"
                               th:errors="${clientDto.lastName}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Отчество</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="${clientDto.patronymic}">
                            <p th:if="${#fields.hasErrors('patronymic')}" th:errorclass="text-danger"
                               th:errors="${clientDto.patronymic}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Контактные данные</label>
                        <div class="col-sm-8">
                            <input class="form-control" th:field="${clientDto.contactNumber}">
                            <p th:if="${#fields.hasErrors('contactNumber')}" th:errorclass="text-danger"
                               th:errors="${clientDto.contactNumber}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Почта</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" th:field="${clientDto.email}">
                            <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger"
                               th:errors="${clientDto.email}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Пол</label>
                        <div class="col-sm-8">
                            <select class="form-select" th:field="${clientDto.gender}">
                                <option value="Мужчина">Мужчина</option>
                                <option value="Женщина">Женщина</option>
                            </select>
                            <p th:if="${#fields.hasErrors('gender')}" th:errorclass="text-danger"
                               th:errors="${clientDto.gender}"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label">Фотография</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" th:field="${clientDto.imageFile}">
                            <p th:if="${#fields.hasErrors('imageFile')}" th:errorclass="text-danger"
                               th:errors="${clientDto.imageFile}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-sm-4 col-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                        <div class="col-sm-4 d-gird">
                            <a href="/clients/" class="btn btn-output-primary" role="button">Отменить</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>