<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Профиль клиента</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/hello">Старт ап</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/clients/">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/">Продукты</a>
                </li>
                <li class="nav-item">
                    <a th:if="${userRole==true}" class="nav-link" href="/users/">Пользователи</a>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/logout}" th:method="POST">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${username}">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Профиль</a></li>
                            <li><a class="dropdown-item" href="#">Тест</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Тест</a></li>
                        </ul>
                    </li>
                </ul>
                <button class="btn btn-outline-success" type="submit">Выйти</button>
            </form>
        </div>
    </div>
</nav>


<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img th:src="@{'/images/' + ${client.imageFileName}}" alt="avatar"
                         class="rounded" style="width: 200px;">
                    <h5 th:text="${client.firstName + ' ' +client.lastName + ' ' +client.patronymic}" class="my-3"></h5>
                    <p class="text-center mb-1" th:text="${client.dateOfBorn.toString().substring(0,10)}"></p>
                    <p class="text-center mb-4">Тут будет последнее посещение</p>
                    <div class="d-flex justify-content-center mb-2">
                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Войти в зал</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 d-flex flex-column">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Фамилия</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:text="${client.lastName}"
                               class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Имя</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:text="${client.firstName}"
                               class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <hr>
                    <div th:if="${!client.patronymic.isEmpty()}"
                         class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Отчество</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:text="${client.patronymic}"
                               class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <hr th:if="${!client.patronymic.isEmpty()}">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:text="${client.email.isEmpty==true ? 'Не указан' : client.email}"
                               class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Контактные данные</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:text="${client.contactNumber}"
                               class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Пол</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:text="${client.gender}"
                               class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Был(а) добавлен(а)</p>
                        </div>
                        <div class="col-sm-9">
                            <p th:text="${client.createDate.toString().substring(0,10)}"
                               class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-9">
                            <a class="btn btn-info " th:href="@{/clients/edit(id=${client.id})}">Редактировать</a>
                            <a class="btn btn-info " th:if = "${clientContractExists == false}"
                                                    th:href="@{/documents/generateUserAgreement(clientId=${client.id})}"
                                                     onclick="return confirm('Вы уверены что хотите сгенерировать договор')">Сгенерировать договор</a>
                            <a class="btn btn-info" th:if="${clientContractExists == true}"
                                                    target="_blank"
                                                    th:href="@{'/agreements/' + ${agreementFileName}}">Пользовательское соглашение</a>
                            <a class="btn btn-primary" th:href="@{/abonement/setAbonement(clientId=${client.id})}">Назначить абонемент</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <a class="btn btn-info " th:href="@{/clients/edit(id=${client.id})}">Абонементы</a>
                            <a class="btn btn-primary" th:href="@{/abonement/setAbonement(clientId=${client.id})}">Посещения</a>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Абонемент</th>
                            <th>Был заключен</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="clientDocument : ${clientDocuments}">
                            <td th:text="${clientDocument.contractType}"></td>
                            <td th:text="${clientDocument.createDate.toString().substring(0,10)}"></td>
                            <td>
                                <a  target="_blank"
                                    class="btn btn-primary"
                                    th:href="@{'/abonements/' + ${clientDocument.contractFileName}}">Посмотреть</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>